CLIENT_URL=http://localhost:5173
PORT=5000
JWT_SECRET=replace_me
MONGODB_URI=replace_me
RAZORPAY_KEY_ID=replace_me
RAZORPAY_KEY_SECRET=replace_me
REDISPASSWORD=replace_me
BREVO_API_KEY=replace_me
FROM_EMAIL=replace_me@example.com
LIVEKIT_URL=wss://your-livekit-domain
LIVEKIT_API_KEY=replace_me
LIVEKIT_API_SECRET=replace_me
